body {
  background-color: #FFD221;
}

.container {
  height: 300vh;
  width: 100%;
}

.bubble1 {
  position: absolute;
  z-index: -1;
  width: 50px;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 50px;
  margin-top: 100%;
  opacity: 0.05;
  left: 500px;
}

.bubble2 {
  opacity: 0.05;
  position: absolute;
  width: 100px;
  z-index: -1;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 30%;
  left: 800px;
}

.bubble3 {
  z-index: -1;
  position: absolute;
  width: 100px;
  opacity: 0.05;
  border-radius: 100%;
  border: 7px solid #003049;
  height: 100px;
  margin-top: 50%;
  left: 200px;
}
